<mat-toolbar>
  <mat-toolbar>
    <span class="logo mr-2" (click)="onHome()">AV-CSV-MANAGER </span>
    <span class="text-xs text-slate-400">
      by Aslan Vatsaev (<a
        class="underline text-teal-500"
        href="https://twitter.com/avatsaev"
        >@avatsaev</a
      >)</span
    >
    <span class="example-spacer"></span>
    <button
      (click)="fileInputEl.click()"
      class="ml-3"
      mat-flat-button
      color="primary"
    >
      Upload CVS
    </button>
    <button
      routerLinkActive="active-link"
      *ngIf="csv.dataLoaded"
      (click)="onHome()"
      class="ml-3"
      mat-flat-button
      color="primary"
    >
      Data preview
    </button>
    <button
      routerLinkActive="active-link"
      *ngIf="csv.dataLoaded"
      (click)="onDupes()"
      class="ml-3"
      mat-flat-button
      color="primary"
    >
      Manage duplicates
    </button>
  </mat-toolbar>
</mat-toolbar>
<div class="loading-bar-container">
  <mat-progress-bar
    [mode]="'indeterminate'"
    *ngIf="csv.working$ | async"
  ></mat-progress-bar>
</div>

<input
  #fileInputEl
  accept="text/csv"
  (change)="onFileUpload($event)"
  type="file"
  hidden
/>

<router-outlet></router-outlet>
